<div class="container main-container">
  <!-- product heading and image-->
  <div class="text-center">
    <h1 class="product-title">
      <img style="height: 120px;width: 100px;" src="../../assets/images/Opticos.png">Opticos
    </h1>
  </div>
  <!-- cost optimization and image part -->
  <div class="row">
    <div class="col-md-6">
      <div>
        <p class="Opt-sub-title">
          <!-- <img style="height: 60px;width: 70px;" src="../../assets/images/icon-optimization.svg"> -->
          Slash cloud costs in half
        </p>
      </div>
      <div class="Opt-sub_content">
        <p>
          In today’s everevolving cloud landscape, managing and optimizing costs has become one of the most pressing
          challenges for businesses. OptiCos, our advanced FinOps cloud accelerator, is designed to help you determine
          if your cloud spending is truly optimized. It ensures that your cloud investments align with your business
          objectives while maintaining high performance and service quality.
        </p>
      </div>
    </div>
    <div class="col-md-6" style="text-align:end ">

      <img class="optimization_image" src="../../assets/images/Slashcloudcosts">
    </div>

  </div>
  <!-- cloud cost management and image part -->
  <div class="row">
    <div class="col-md-12">
      <p class="Opt-sub-title1">The Evolving Landscape of Cloud Cost Management
      </p>
    </div>
    <div class="col-md-6" style="text-align:center">
      <!-- Need to add a sample image -->
      <img class="Management-image" src="../../assets/images/savemoneyandtime.jpg">
    </div>

    <div class="col-md-6">


      <!-- <img style="height: 60px;width: 70px;" src="../../assets/images/icon-optimization.svg"> -->
      <div class="Opt-sub_content1">
        <ul>
          <li>
            Cloud environments are dynamic and constantly shifting.
            As workloads evolve and cloud pricing structures change,
            businesses need proactive solutions to avoid unnecessary
            spending. OptiCos automates and streamlines your cloud
            cost optimization efforts,providing transparency and
            control over your expenses.
          </li>
          <li>
            Gone are the days of overprovisioned resources, idle instances,
            and inefficient architectures. OptiCos gives you realtime visibility
            into your cloud costs and provides actionable recommendations to rightsize
            your infrastructure, saving you time and money without sacrificing performance.
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="key_container">
    <div class="key_feature_title">
      <h1 class="key_title">
        Main Characteristics of OptiCos
      </h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Intelligent Cloud Procurement</h1>
        <img class="Cloud-Procurement" src="../../assets/images/cloudcostmanagement.png">
        <div class="content-procurement">
          <ul>
            <li>
              <b>OptiCos:</b> simplifies procurement processes with intelligent insights.
              While cloud platforms offer scalability, it's easy to subscribe to more resources than necessary.
              OptiCos ensures that your purchases align with your business needs through.
            </li>
            <li>
              <b>Governance Policies:</b> Set budgets, review billing data,
              and seize costsaving opportunities like discounts.
            </li>
            <li>
              <b>Anomaly Detection:</b> Detect unexpected cost spikes with realtime monitoring.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <h1>Cloud Capacity Optimization</h1>
        <img class="Cloud-Capacity-Optimization-image" src="../../assets/images/cloudcostmanagement.png">
        <div class="Cloud-Capacity-Optimization">
          <ul>
            <li>
              <b>resources:</b> Overprovisioning is a silent financial drain.
              OptiCos helps you continuously review and rightsize
            </li>
            <li>
              <b>Usage Visibility:</b> Gain insights into underutilized resources and eliminate waste.
            </li>
            <li>
              <b>Automated Shutdown:</b> Automatically terminate idle or unused instances.
            </li>
            <li>
              <b>Capacity Rightsizing:</b> Adjust resources based on current and future workload demands.

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="OptiCos_Was_Built">
    <h1 style="font-size: 6.5rem;font-weight: 600;">
      Why OptiCos Was Built
    </h1>
  </div>
  <div class="row">
    <!-- Why OptiCos Was Built -->

    <div class="col-md-6">
      <img class="Management-image" src="../../assets/images/cloudcostmanagement.png">

      <div class="container-one" style="margin-top: 3%;font-size: 1.7rem;">
        As businesses rapidly adopt cloud technologies, they often face uncontrolled cloud growth, paying for resources
        they don’t fully utilize. In the current market,
        managing cloud spending while maintaining peak performance is crucial.
      </div>
    </div>
    <div class="col-md-6">
      <img class="Management-image" src="../../assets/images/cloudcostmanagement.png">
      <div class="container-two" style="margin-top:3%;font-size:1.7rem;">
        OptiCos was developed to provide businesses with an intuitive, automated solution that optimizes cloud costs,
        ensuring that every dollar is wisely spent while avoiding unnecessary expenses.
      </div>
    </div>
  </div>
  <div>
    <h1 style="font-size:5.5rem; color:#1e1e9a;">Essential Features of Opticos</h1>
  </div>
  
 
   
  </div>