<div class="container-fluid">
    <div class="row" style="margin-top: 7%;">
        <div class="col-md-6">
            <div class="about-data-card" >
                <div class="who-are-we-header">sivan infotech</div>
                <div class="who-are-we">Sivan Info Tech is an IT organization registered under the Ministry of corporate affairs
                    as Limited Liability partenership with over two decades of experience in top notch MNC companies</div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="about-data-card" >
                <div class="our-services-header">services</div>
                <div class="service">1. Offering Cloud Computing Training to freshers, laterals and conducting internship
                    programs</div>
                <div class="service">2. Products compatibility with cloud</div>
            </div>
        </div>
        
    </div>
<!-- <div class="about-us-section container-fluid  "> -->
    <!-- <div class="card-conatiner justify-content-start"> -->
   
    <!-- </div> -->
    <!-- <div class="card-conatiner justify-content-end"> -->

    <!-- </div>   -->

<!-- </div> -->
<div style="display: flex;justify-content: center;font-size: 20px;margin: 40px;">
    <b>Designated Directors</b>
    <!-- <div class="image-title"><b>Designated Directors</b></div> -->

</div>
<div class="image-container row">
    <!-- <div class="justify-content-between images row "> -->
        <div class="image col-md-4">
            <img class="styled-image" alt="Image Description"
                src="../../assets/images/about1-girl.png">
            <div class="image-description"><b>Kanagavalli N</b></div>
        </div>

        <div class="col-md-4" style="display: flex;
        justify-content: center;">
            <div class="registered-info ">
                <div>
                    <b> <i>LLP Identification Number - ACA-1823<br>
                            Pan of LLP - AEYFS 4555G<br>
                            Tan of LLP - CHES 69130F<br>
                            Email-info&#64;sitcloud.in<br>
                            Registered Address - 
                            No 9, Madhan Square,<br>
                            Guduvanchery, Chennai - 603202</i></b>
        
                </div>
            </div>
           </div>
        <div class="image  col-md-4">
            <img class="styled-image" alt="Image Description"
                src="../../assets/images/user_boy.png">
            <div class="image-description"><b>Gunashekaran G</b></div>
        </div>
        
    <!-- </div> -->
</div>

<!-- <div class="image-container row">  -->
   <!-- <div class="col-md-12" style="display: flex;justify-content: center;">
    <div class="registered-info col-md-4">
        <div style="margin-left: 95px;">
            <b> <i>LLP Identification Number - ACA-1823<br>
                    Pan of LLP - AEYFS 4555G<br>
                    Tan of LLP - CHES 69130F<br>
                    Email-info@sitcloud.in<br>
                    Registered Address - 
                    No 9, Madhan Square,<br>
                    Guduvanchery, Chennai - 603202</i></b>

        </div>
    </div>
   </div> -->
<!-- </div> -->
    <div class="testimonials-title text-center align-items-center font-weight:300">testimonials </div>
    <div class="row testimonials h-50 container-fluid justify-content-around ">
        <div class="my-card col-12 col-md-3">
            <img class="icon-image" alt="Image Description" src="../../assets/images/heIcon.png">
            <div class="teste-name">Manikanta</div>
            <div class="teste-content">I joined this institute to take training for AWS Solution Architect – professional level. My all over experience is very good. The knowledge given by the trainers are very helpful to me & during training they solve thought related the topic. Thank you.</div>
        </div>
        <div class="my-card col-12 col-md-3">
            <img class="icon-image" alt="Image Description" src="../../assets/images/heIcon.png">
            <div class="teste-name">Vignesh</div>
            <div class="teste-content">I joined this institute to take training for AWS Solution Architect – professional level. My all over experience is very good. The knowledge given by the trainers are very helpful to me & during training they solve thought related the topic. Thank you.</div>
        </div>
        <div class="my-card col-12 col-md-3">
            <img class="icon-image" alt="Image Description" src="../../assets/images/sheIcon.png">
            <div class="teste-name">Indrani</div>
            <div class="teste-content">Provided in depth knowledge about the topics. Shown most of the topics practically which help in visualizing the topic. Providing training video is a plus.</div>
        </div>
        <div class="my-card col-12 col-md-3">
            <img class="icon-image" alt="Image Description" src="../../assets/images/heIcon.png">
            <div class="teste-name">Praveen</div>
            <div class="teste-content">Training was excellent with good interaction. Knowledge sharing is good. Recording facility is excellent for revising. Course was practically and informative. Trainer Kavitha is enthusiastic and aware of what she is explaining. The course helped to build confidence, Valuable experiences, and learning. She mapped all info’s to real-time world, where it’s helped a lot for me to understand easily.</div>
        </div>
    </div>
    <!-- ==============  Cloud Accelerators ================ -->
    <section class="social-media">
        <div class="conatiner text-center">
          <p class="paragraph">Cloud Accelerators</p>
          <div class="social-icons">
            <div class="matnav">
                <div class="mat-list">
        <button class="btn bg-transaprent" routerLink="/cloudacclerator" style="
        box-shadow: 0px 0px 10px rgb(150, 150, 150);
        /* display: flex; */
        font-size: x-large;
        font-weight: 400;">Cloud Accelerators</button>
    </div>
            </div>
          </div>
        </div>
      </section>
      <section class="social-media">
        <div class="conatiner text-center">
          <p class="paragraph">FIND US ON SOCIAL MEDIA</p>
          <div class="social-icons">
            <a href="https://web.whatsapp.com/"><img src="../../assets/images/whatsapp-icon.png" alt=""></a>
            <a href="https://www.facebook.com/"><img src="../../assets/images/facebook-icon.png"alt=""></a>
            <a href=" https://www.instagram.com/sivan_info_tech/"><img src="../../assets/images/instagram-icon.png" alt=""></a>
            <!-- <a href=""><img src="../../assets/images/-icon.png" alt=""></a> -->
            <a href="https://www.linkedin.com/"><img src="../../assets/images/linkedin-icon.png"alt=""></a>
            <a href="https://x.com/"><img src="../../assets/images/twitter-icon.png" alt=""></a>
          </div>
        </div>
      </section>
      <!-- <div class="matnav>
        <mat-list>
      <mat-list-item>
        <button class="btn bg-transaprent" routerLink="/cloudacclerator">Cloud Accelerators</button>
      </mat-list-item>
    </mat-list>
    </div> -->
   
</div>