<footer class="footer">
  <div class="footer-container">
    <!-- Logo and About Section -->
    <div class="logofoot">
      <a href="/home">
        <img src="../../assets/images/footerlogo.png" alt="Sivan Info Tech Logo" class="logo" />
      </a>
      <div class="content">
        Sivan Info Tech is a leading Training and Placement company managed by IT veterans with more than a decade of experience in leading MNC companies.
      </div>
      
      <!-- Social Media Icons -->
      <div class="social-icons">
        <a href="https://www.youtube.com/@SIVANINFOTECH/" target="_blank" class="social-icon">
          <img src="../../assets/images/youtube.png" alt="YouTube" />
        </a>
        <a href="https://instagram.com/sivan_info_tech" target="_blank" class="social-icon">
          <img src="../../assets/images/insta.png" alt="Instagram" />
        </a>
        <a href="https://fb.me/SivanInfoTech" target="_blank" class="social-icon">
          <img src="../../assets/images/facebook.png" alt="Facebook" />
        </a>
        <a href="https://twitter.com/info_sivan" target="_blank" class="social-icon">
          <img src="../../assets/images/twitter.png" alt="Twitter" />
        </a>
      </div>
    </div>
    
    <!-- Useful Links Section -->
    <div class="Usefullinks">
      <div class="heading">Useful Links</div>
      <div class="details">
        <a href="/home" class="links">Home</a>
        <a href="tel: 91 63813 92637" target="_blank" class="links">Contact Us</a>
        <a href="/terms" class="links">Terms and Conditions</a>
        <a href="/refund" class="links">Refund Policy</a>
        <a href="/aboutus" class="links">About Us</a>
      </div>
    </div>
    
    <!-- Contact Details Section -->
    <div class="contactdetails">
      <div class="head">Contact Details</div>
      
      <!-- Address -->
      <a href="https://maps.app.goo.gl/tffybvxnKByA6aDg9?g_st=ic" target="_blank" class="contactdetail">
        <mat-icon>location_on</mat-icon>
        <span>
          Sivan Info Tech First floor, 9, Madhan Square, Neelamangalam, Guduvancheri, Chennai,
          TamilNadu, India - 603202
        </span>
      </a>
      
      <!-- Phone -->
      <a href="tel: 91 63813 92637" target="_blank" class="contactdetail">
        <mat-icon>phone_in_talk</mat-icon>
        <span>+91 6381392637</span>
      </a>
      
      <!-- Email -->
      <a href="mailto: info@sitcloud.in" target="_blank" class="contactdetail">
        <mat-icon>email</mat-icon>
        <span>info&#64;sitcloud.in</span>
      </a>
    </div>
  </div>
  
  <!-- Copyright Section -->
  <div class="copyright">
    &copy; 2025 Sivan Info Tech. All Rights Reserved.
  </div>
</footer>
