* {
    margin:0 ;
    margin-top: auto;
    margin-bottom: auto;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.forgot_container {
    background-color:white;
    /* background-image:
        radial-gradient(at 61% 4%, hsla(303, 91%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 75% 66%, hsla(196, 91%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 98% 88%, hsla(76, 87%, 78%, 1) 0px, transparent 50%),
        radial-gradient(at 23% 16%, hsla(238, 96%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 95% 65%, hsla(13, 91%, 75%, 1) 0px, transparent 50%),
        radial-gradient(at 10% 79%, hsla(228, 96%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 85% 58%, hsla(328, 81%, 68%, 1) 0px, transparent 50%); */
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem 0;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #232f45;
    border-radius: 50px;
    border: 2px solid rgba(2, 200, 193, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 90px 170px;
}

.lock-icon {
    font-size: 4rem;
    margin-top: auto;
}


h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
}

p {
    font-size: 20px;
}

.passInput {
    margin-top: 15px;
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 20px;
    color: #fff;
    outline: none;
    /* background-color: brown; */
}

.forgot_btn {
    margin-top: 15px;
    width: 80%;
    background-color: rgb(233, 186, 58);
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border: none;
}