.flashnews {
    width: 92%;
    margin-left: 6%;
    margin-top: 10%;
    margin-bottom: 4%;
}
.add_btn {
    background-color: white;
    border: none;
    cursor: pointer;
    color: blue;
}
.add_btn :focus {
   border: none;
}

.flashbtn {
    margin-left: 80%;
    margin-top: 3%;
}

.add_btn :hover {
    color: green;
}

.rmv_btn {
    background-color: white;
    border: none;
    cursor: pointer;
    color: gray;
}
.rmv_btn :focus {
   border: none;
}

.rmv_btn :hover {
    color: red;
}
