.banner {
    width: 100%;
    margin-left: 0;
    position: relative;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* background-image: -webkit-linear-gradient(0deg,#0e64a4 0,#1f39a4 51%,#2f0ea4 100%); */
    padding-left: 1%;
    /* color: #fff!important; */
    padding-top: 2%;
    margin-top: -3%;
    padding-bottom: 2%;
}

.gold {
    color: gold;
    font-size: 16px !important;
    padding-top: 3px;
    /* line-height: 0 !important; */
}


.feature{
    font-size: 16px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    color: blue;

}
.banner_content {
    font-size: 14px;
    line-height: 29px;
    margin-top: 21px;
    /* font-family: Roboto,sans-serif!important; */
}

.red {
    background-image: -webkit-linear-gradient(0deg,#e91f00 0,#e93c00 62%,#e95900 100%);
}
.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    height: 40px;
    margin: 0 0 20px;
    border: 0;
    border-radius: 0;
    position: relative;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.green { 
    height: auto;
    background-image: -webkit-linear-gradient(0deg,#00b10c 0,#0dd21a 100%);
}
.link {
    display: inherit;
    width: 80%;
    padding: 5px 0;
}
.icon-d { 
    font-weight: 400;
}
.dd {
    font-size: 15px;
    color: #fff;
    /* display: block; */
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
}
.bannerRightSec {
        background-color: #2b54a421;
    box-shadow: 0 6px 6.86px 0.14px rgba(0,0,0,.3);
    padding: 25px;
}
.bannerRightSec:hover{
    box-shadow: 0 6px 6.86px 0.14px rgba(0,0,0,.6);
}

.trainimg {
    width: 100%;
    margin-bottom: 9%;
}
.b-menuarea {
    min-height: 52px;
    box-shadow: 0 5px 11.44px 1.56px rgba(0,0,0,.34);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   background: #ebf1f8;
}
.b-menuSec {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 70px;
    margin: 0;
}

.links{
    font-size: 14px;
    color: #131415;
    /* font-weight: 600; */
    font-family: Roboto, sans-serif;
    line-height: 1.2;
    text-align: center;
}
.links:hover{
    /* font-size: 17px; */
    color: #e93c00;
    /* font-weight: 600; */
    /* line-height: 1.2; */
    /* text-align: center; */
}

section#b-menuarea-sticky {
    z-index: 9999!important;
}
.sticky {
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
}

.checked-patten{
    margin-top: 5vh;
    width: 100vw;
    min-height: 200vh;
    height: fit-content;
    background: conic-gradient(from 90deg at 1.1px 1.1px, #ffffff 25%,#f1f1f1 0);
    /* background: conic-gradient(from 90deg at 1.1px 1.1px, 
    #c26de9 25%, 
    #4fc489 50%, 
    #c06937 75%, 
    #27129b 100%); */
    background-size: 100px 100px;
    position: relative;
}

.section-top{
    padding-top: 20vh;
    align-items: center;
}
.details_data{
    /* background-color: #00b10c; */
   /* padding-top : 20vh; */
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   border-right: solid 2px #151515;
   border-radius: 25px;
    border-radius: 25px;
    padding-right: 30px;
    height: fit-content;
}

.header-center {
    margin-left: auto;
    margin-right: auto;
}


.batch_data {
    padding-top: 20vh;
    width: 80%;
    margin-left: 9%;
    margin-bottom: 10vh;
}

.benefit {
    font-size: 150%;
    position: relative;
}


.extramargin{
    width: 80vw;
    font-size: 70%;
    font-family: 'Nhaas';
    word-spacing: 1.5px;
    letter-spacing: 1.25px;
    line-height: 5vh;
    color: #545454;
}

#keyhighlights{
    margin-top: 30vh;
    border: none;
    /* background-color: blanchedalmond; */
}

#point {
    display: flex;
    flex-direction: row;
    width: 30vw;
    margin-top: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    /* gap: 0.7vw; */
    font-size: 110%;
    font-family: 'Nhaas';
    word-spacing: 1.5px;
    letter-spacing: 1.25px;
    align-items: center;
}
.leftImg {
    /* order: 3;
    transition: transform 0s ease; */
}
.rightImg {
    /* order: 1;
    transition: transform 0s ease; */
}
/* #point:hover .leftImg {
    order: 1;
    transform: scale(1.5) translateX(30px);
    transition: transform 0s ease;
}
#point:hover .rightImg {
    order: 3;
    transform: scale(1.5) translateX(-30px);
    transition: transform 0s ease;
} */

.highlight{
    display: flex;
    height: fit-content;
}
.left-texts{
   text-align: right;
   align-items: flex-end;
   justify-content: flex-end;
   transform: translateX(-50px);
}

.key-hl-img-container {
    height: fit-content;
    width: fit-content;
    padding: 20px;
    /* border-radius: 0 50% 50% 0; */
    border-radius: 20px;
    border: solid 1px hsl(20, 2%, 73%);
    box-shadow: 2px 0px 10px 1px #dadada;
    /* box-shadow: 1px -1px 3px 1px rgba(240, 65, 65, 0.7), -1px 1px 3px 1px rgba(219, 147, 53, 0.7); */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* background-image: linear-gradient(30deg, hsl(20, 2%, 73%), hsl(20, 2%, 73%), hsl(20, 4%, 86%)); */

}

.leftImg{
    /* transform: translateX(-50px); */
}

.right-texts{
    text-align: right;
    transform: translateX(50px);
 }
 
 .righttImg{
     transform: translateX(50px);
 }

.left-transform {
    transform: translateX(70px);
    transition: transform 1s ease;
}

.right-transform {
transform: translateX(50px);
transition: transform 2s ease;
}

.left-transform {
    transform: translateX(-50px);
    transition: transform 2s ease;
    }

.right-texts{
    text-align: left;
    transform: translateX(70px);
}

.key-hl-text-bg {
    background-image: linear-gradient(30deg, hsl(20, 2%, 73%), hsl(20, 2%, 73%), hsl(20, 4%, 86%));
    border-radius: 25px 0 0 25px;
    height: fit-content;
    width: fit-content;
    padding: 2px;

    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */

}

.key-hl-text-bg-right {
    background-image: linear-gradient(30deg,hsl(20, 2%, 73%),hsl(20, 2%, 73%),hsl(20, 4%, 86%));
    border-radius: 0 25px 25px 0;
    height: fit-content;
    width: fit-content;
    padding: 2px;
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
border: solid 1px rgb(255, 250, 250);
}

.key-hightlight{
    font-family: 'Nhaas';
    word-spacing: 1.5px;
    letter-spacing: 1.25px;
    font-size: 80%;
    /* width: 40vw; */
    width: fit-content;
    /* order: 2; */
    border-radius: 25px 0 0 25px;
    /* border: solid 1px rgb(231, 231, 231); */
    box-shadow: -2px 0px 10px 1px #dadada;
    border-right: none;
    padding: 10px 20px;
    /* background-color: rgba(219, 147, 53, 1); */
    color: #ffffff;
    color: #000;
    background-color: #fff;
    /* background-color: #F2AD87; */
    /* border: solid 2px #F2AD87; */
}

.key-hightlight-right {
    border-radius: 0 25px 25px 0;
    /* background-color: rgb(219, 78, 53);
    background-color: #F56386; */
    /* border: solid 2px #F56386; */
}

/* .skillblk {
    margin-left: 4%;
    width: 90%;
    height: fit-content;
    margin-bottom: 10vh;
    margin-top: 15vh;
} 
.left-section{
    height: 60vh;
    width: 30vw;
    margin-top: 5vh;
    background-color: #f56262;
    border-radius: 25px;
    display: flex;
    align-items: center;

    background: linear-gradient(
        0deg,
        rgb(74, 199, 201) 0%,
        rgb(86, 218, 154) 100%
    );
}

.bold_h4 {
    font-size: 400%;
    font-weight: 600;
    width: fit-content;
}
.right-section{
    height: fit-content;
    width: 30vw;
    padding: 5vh;
    margin-top: 5vh;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
.skills {
    gap: 3%;
}
.skill-tag{
    font-size: 100%;
    font-family: 'Nhaas';
    word-spacing: 1.5px;
    letter-spacing: 1.25px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    margin-top: 2vh;
    width: fit-content;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: white;
    text-align: center;
}
*/

.skillblk {
    height: fit-content;
    margin-bottom: 10vh;
    margin-top: 15vh;
    justify-content: center;
}
.left-section{
    width: 50vw;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4vmin;
    background-color: #f56262;
    border-radius: 25px;
    display: flex;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgb(74, 199, 201) 0%,
        rgb(86, 218, 154) 100%
    );
}

.bold_h4 {
    font-size: 400%;
    font-weight: 600;
    width: fit-content;
}
.right-section{
    height: fit-content;
    width: 100vw;
    padding: 5vh;
    /* margin-top: 5vh; */
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-tag{
    font-size: 75%;
    font-family: 'Nhaas';
    word-spacing: 1.5px;
    letter-spacing: 1.25px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    /* margin-top: 2vh; */
    width: 100%;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: white;
    text-align: center;
}
#skill{
    margin: 5vmin;
    margin-top: 8vmin;
    margin-bottom: 0;
}

.timeline-dot{
    height: 1vh;
    width: 1vh;
    border-radius: 50%;
    background-color: rgb(74, 199, 201);
}

.highlight-left{
    margin-top: 5vh;
    position: relative;
    /* border-right: 5px solid transparent;
    border-image: linear-gradient(to bottom, #b69481, #a34343); 
    border-image-slice: 1; */
}



.highlight-right{
    margin-top: 8vh;
    /* margin-left: 2vw; */
    /* border-left: 5px solid transparent;
    border-image: linear-gradient(to bottom, #eceded, #7bff9c); 
    border-image-slice: 1; */
}



.icon-highlight{
    overflow: visible;
    color: #81b94c;
}
.req_btn {
    color: #fff;
    min-width: 200px;
    max-width: 270px;
    min-height: 51px;
    border-radius: 10px;
    margin-left: 15px;
    border: none;
    padding: 0 20px;
    /* background: -webki.statt-linear-gradient(left,#e91f00 1%,#e95900 100%); */
    background: linear-gradient(
        30deg,
        rgb(64, 183, 185) 0%,
        rgb(67, 173, 122) 100%
      );
    background: #000;
}
.btndiv {
    text-align: center;
    margin: 30px 0 0;
}

.syllabus_download_btn{
    margin-left: 30px;
    height: fit-content;
    width: fit-content;
    color: #000;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 4px;
    font-size: 90%;
    box-shadow: 0 2px 6.86px 0.14px rgba(0, 0, 0, 0.3);

   
    /* border: solid 2px rgb(88, 238, 138); */
    border-radius: 20px;
    padding: 1vmin;
    /* gap: -10px; */
    /* padding-right: 5px; */
    cursor: pointer;
    /* box-shadow: 2px 2px 5px rgba(122, 236, 160, 0.4); */
    /* border: solid 2px #fa5853; */
    /* box-shadow: 2px 2px 5px #ffc444; */
    /* background-image: linear-gradient(30deg, #fa5853, #f46692 52%, #ffc444); */
}

.download-syllabus-icon {
    height: 3vh;
    width: auto;
    border-radius: solid 1px #000;
    padding: 2px;
    border-radius: 50%;
}

.head {
    align-items: baseline;
    display: flex;
    margin-bottom: 20px;
    padding-top: 20vh;
}
::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: white;
    box-shadow: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179);
    border-radius: 10px;
}
.syllabus_section {
    margin-top : 20vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    height: fit-content;
}

.syllablist {
    margin-bottom: 19px;
    height: fit-contentx;
    width: 80vw;
    overflow-y: auto;
    overflow-x: hidden;
}
mat-panel-title {
    font-weight: 700;
    font-size: 120%;
}
.moduletitle {
    width: 83px;
    color: #555555;
    font-size: 70%;
}
a, u {
    text-decoration: none;
}
.mat-accordion {
    border-radius: 0;
}
.mat-expansion-panel {
    box-shadow: none;
    border-radius: none;
    border-top: solid 0.5px #000000;
}
.mat-expansion-panel-content {
    border: none;
}

#enquiry {
    margin: 10vh 0;
}
.AskQuestion-Txt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150%;
    margin: 5vh 5vw;
}
.btn-enquiry {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #0d2087;
    border-radius: 9px;
    display: inline-block;
    padding: 10px 20px;
    background: #000000;
    font-size: 120%;
    color: #ffffff;
    width: auto;
}
.upbatchsList {
    margin: 0;
    background-color: #f7f7f7;
    border-radius: 25px;
    /* border: 2px solid #bab9b9; */
    /* border-top: 2px solid #bab9b9;
    border-bottom: 2px solid #bab9b9; */
}
.upbatchsList>tbody>tr {
    border-bottom: 0.5px solid #bab9b9;
    width: 100%;
}
.upbatchsList>tbody>tr:hover {
    transition: all 300ms ease-in;
    transform: scale(1.005);
    background-color: #f7f7f7;
    box-shadow: 0px 0px 2px #000;
}
.upbatchsList>tbody>tr:nth-last-child(1) {
    border-bottom: none;
}

.upbatchsList>tbody>tr>td:first-child {
    /* text-transform: uppercase; */
    font-weight: 700;
}
.upbatchsList>tbody>tr>td {
    height: 100px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: 0;
    font-size: 15px;
    color: #6c6b6b;
    font-weight: 400;
}
.upbatchsList>tbody>tr>td button.btn {
    /* border: 2px solid #0d2087; */
    background-color: #000;
    border-radius: 9px;
    min-height: 42px;
    display: inline-block;
    padding: 0 20px;
    font-size: 13px;
    color: #fff;
    width: auto;
    margin: 0 10px;
}
.upbatchsList>tbody>tr>td button.btn:hover {
    box-shadow: 0px 0px 5px rgb(54, 54, 54);
    /* background-image: -webkit-linear-gradient(0deg,#0e64a4 0,#1f39a4 51%,#2f0ea4 100%); */
    /* color: white */
}
.AskQuestion-Txt p, .AskQuestion-Txt p a {
    font-size: 13px;
    color: #000;
    width: 80%;
    margin-left: 10%;
    font-weight: 400;
    margin-bottom: 20px;
}
.AskQuestion-Txt .btnSec .orangeBtn {
    font-size: 13px;
    height: 45px;
    width: 60%;
    margin: auto;
    background: #001266;
    background: -moz-linear-gradient(left,#001266 1%,#121aa5 100%);
    background: -webkit-linear-gradient(left,#001266 1%,#121aa5 100%);
    background: linear-gradient(to right,#001266 1%,#121aa5 100%);
}
.AskQuestion-Img {
    text-align: center;
}
.pull-right {
    float: right!important;
}
.img-responsive{
    display: inline-block;
    height: 274px;
    margin-top: -57px;
}



/* my code */



@font-face {
    font-family: 'Nhaas';
    src: url('../../assets/fonts/NHaasGroteskDSPro-45Lt.woff2') format('woff2');
  }


.course-page{
    margin-top: 20vh;
    top: 0;
    height: fit-content;
    /* display: none; */
    /* background-color: aquamarine; */
    /* padding-top: 15vh; */
}

.top-higlight-section {
    height: fit-content;
    width: 100vw;
    /* background-color:  #c7ffd7; */
    /* background-color: #d8f6f3; */
    padding: 25vh 10vw 5vh 10vw;
    padding: 10vh 10vw 10vh 10vw;
    background: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* background: none; */
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    /* border: solid 2px #f46692; */
    /* box-shadow: 0 0 10px #e4e3e3; */
}

.tub-section{
    background-color:  #c7ffd7;
    position: relative;
    height: 10vmin;
    box-shadow: 0 10px 10px 0.14px rgba(0,0,0,.3);
    border-radius: 0 0 10% 90%;
     background: linear-gradient(
        0deg,
        rgb(100, 202, 203, 0.5) 0%,
        rgb(100, 202, 203, 0.5) 0%,
    );
    background-color:  rgb(100, 202, 203, 0.5);
    background: #ffffff;

    height: 0;
}

.course-higlight-content{
    position: relative;
    top:20%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.course-title{
    font-size: 350%;
    font-family: 'Nhaas';
    letter-spacing: 2px;
    padding-left: 5vh;
    font-weight: 700;
    display: flex;
    align-items: center;

}

.course-title-mover {
    top: 5vh;
    /* position: absolute; */
    align-items: center;
    background-color:  #000000;
    width: 50vw;
    height: 6vh;

}

.course-img{
    max-width: 253px ;
    height: 222px;
    margin: 0;
    box-shadow: 0px 0px 10px rgb(150, 150, 150);
    

    /* border: solid 0.1px rgb(186, 186, 186); */
    /* box-shadow:  4px 4px 8px rgba(0, 0, 0, 0.2); */
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
    background-color:  inherit;
    /* background-color: #535353; */
    /* margin-bottom: 3vh; */
    border-radius: 15px;
  
}

.flex-class-col{
    display: flex;
    flex-direction: column;
}

.flex-class-row{
    display: flex;
    flex-direction: row;
}

.icon_align{
    padding-top: 3vh;
    display: flex;
    font-size: 80%;
    color: #3f3f3f;
    font-weight: 100;
    margin-left: 0;
    /* margin-right: 3vh; */
}

.rating {
    display: flex;
    font-size: 70%;
    padding-left: 3vw;
   
}

.gold {
    color: rgb(255, 157, 0);
    font-size: 16px !important;
    padding-top: 3px;
    /* line-height: 0 !important; */
    
}

.course-desc{
    padding-top: 3vh;
    color: #3f3f3f;
    font-family: 'Nhaas';
    word-spacing: 1.5px;
    letter-spacing: 1.25px;
    font-size: 105%;
    font-weight: 200;
}

.icon-row {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}

.batch-selector-row {
    margin-top: 5vh;
    justify-content: flex-start;
    display: flex;
   
}


#courses{
    /* margin-top: 5vh; */
    padding: 10px 30px;
    background-color:#dcdcdc;
    border: solid 1px rgb(0, 0, 0);
    font-size: 90%;
    margin-right: 2vw;
    font-family: 'Nhaas';
    letter-spacing: 1.5px;
}

.enroll-button{
    /* background-color: rgb(39, 38, 38); */
    background-color: #26812c;
    color: rgb(255, 255, 255);
    border: none;
    /* padding: 1vh 6vh; */
    padding: 2vh 4vh;
    font-size: 90%;
    font-family: 'Nhaas';
    letter-spacing: 1.5px;
    width: fit-content;
    border-radius: 5px;
    /* background: linear-gradient(30deg, #fa5853, #f46692 52%, #ffc444);
    color: #000;
    font-weight: 900; */
}

.select-btach-label{
    font-size: 90%;
    font-family: 'Nhaas';
    letter-spacing: 1.5px;
    /* text-decoration: underline; */
    color:#000 ;
    margin-right: 1vw;
    margin-top: 2vh;
    /* background-color: #dcdcdc; */
}

.course-nav-bar-parent{
    margin-top: 5vh;
    width: 100%;
    justify-content: center;
    z-index: 3;
}


.course-nav-bar{
    margin-top: 3vh;
    height: fit-content;
    width: 80vw;
    background-color: rgb(255, 255, 255);    /* border: solid 0.5px rgb(55, 55, 55); */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    align-items: center;
    width: fit-content;
    /* box-shadow: 0 2px 6.86px 0.14px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 2px 6.86px 0.14px rgba(0, 0, 0, 0.3);
    
    padding-left: 5px;
    padding-right: 5px;
    /* background-image: linear-gradient(269deg,#fa12e3 1.83%,#7612fa 53.68%,#12d0fa 106.48%); */
}

.section-name{
    color: #000000;
    font-size: 90%;
    font-family: 'Nhaas';
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    padding: 1vmin 1.5vmin;
    border-radius: 10px;
    margin: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 0.5px rgb(177, 177, 177);
    background-color: #ffffff;
    cursor: pointer;
}

.section-highligted{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 100%;
    /* background-image: linear-gradient(269deg,#fa12e3 1.83%,#7612fa 53.68%,#12d0fa 106.48%); */
}


.benefit-section{
    display: flex;
    flex-direction: row;
}


@media (max-width: 768px) {

    .top-higlight-section {
        padding-top: 15vh;
    }

    .course-img {
        max-height: 50vw;
        max-width:  50vw;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .centering{
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    

    .course-title{
        font-size: 150%;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 0;
        text-align: center;
    }

    .rating{
        padding: 0;
        width: fit-content;
        align-items: center;
        text-align: center;
        font-size: 75%;

    }
    
    .svg-line {
        display: none;
    }

    .icon_align{
        margin-right: 2vw;
        align-items: center;
        padding-top: 1vh;
    }

    .feature{
        padding-right: 2px;
        padding-bottom: 0px;
    }

    .icon-row {
        justify-content: center;
        padding-top: 2vh;
    }


    .batch-selector-row {
        justify-content: center;
    }

    .select-btach-label{
        font-size: 100%;
    }

    .centering-button{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .enroll-button {
        margin-top: 2vh;
    }

    .course-nav-bar-parent{
        width: 95%;
        margin-left: 5vw;
    }

    .section-name{
        font-size: 100%;
        word-spacing: 1px;
        padding: 2vmin 2vmin;
    }

    .left-section{
        height: fit-content;
        padding: 5vh 5vh;
    }
}


.skill-section {
    display: flex;
    justify-content: center;
}
.skill-left-col {
    margin-right: 10vmin;
    align-items: flex-end;
    border-radius: 0 -50px -50px 0;
    background-color: orange;
}
.skill-heading {
    width: 25vw;
    height: 25vw;
    /* border: solid 4px purple; */
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    filter: blur(10);
    box-shadow: inset 10px 10px 100px 60px rgb(151, 65, 185), 
        inset 10px 10px 80px 160px rgb(201, 173, 113);
}
.skill-heading-text {
    font-size: 400%;
    font-weight: 600;
    padding: 3vmin;
    text-align: center;
}
.skill-right-col {
    margin-left: 10vmin;
    align-items: flex-start;
    border-radius: -50px 0 0 -50px;
    background-color: orange;
}
.skill-tag {
    font-size: 90%;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 2vmin;
}


.sub-section-left {
    margin-left: 10vw;
}

.sub-section-right {
    margin-right: 10vw;
    justify-content: right;
}

.sub-section-header {
    font-size: 300%;
    font-weight: 600;
    padding-bottom: 5vmin;
}

.sub-section-content {
    font-size: 90%;
    font-family: 'Nhaas';
    word-spacing: 2.5px;
    letter-spacing: 1.25px;
    line-height: 180%;
    color: #4e4e4e;
}

.img-container {
    width: 20vw;
    position: relative;
    margin-left: 10vw;
}

.img-container-left {
    margin-right: 10vw;
}

.sub-section-img {
    animation: float 5s ease-in-out infinite;
    width: 100%;
    height: auto;
    max-width: 100%;
}

svg {
    position: absolute;
    top: 100px;
    left: 50vw;
}

@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-20px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}
@media(max-width: 430px)
{
    .top-higlight-section{
        margin-left:5vh;

    }
    
}
@media(max-width: 380px)
{
    .top-higlight-section{
        margin-left: 7vh;

    }
    
}
