.header-row {
  width: 100%;
  position: absolute;
  top: 2vh;
}
.logo {
  width: 25vw;
  margin-left: 5vw;
}
.mobile-header {
  position: absolute;
  top: 1vh;
  right: 4vh;
  height: 10vmin;
  width: 10vmin;
  border-radius: 50% 15% 50% 50%;
  background-color: #000000;
  padding: 2.5vmin;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
}
.icon-line {
  height: 2px;
  background: rgb(255, 255, 255);
  border-radius: 2px;
  width: 100%;
}

.menu-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  /* background-color: #eefff9; */
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  padding: 15vw;
  text-align: center;
}
.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  font-size: 200%;
  color:rgb(255, 255, 255);
}
.menu-item {
  margin-top: 5px;
  font-size: 175%;
  padding: 4vh 0;
  background-color: inherit;
  /* border-bottom: solid 1px black; */
  color:rgb(255, 255, 255);
  border-bottom: solid 1px #ffffff;
  /* box-shadow: 0 4px 4px rgba(32, 31, 31, 0.2), 4px 0 4px rgba(47, 46, 46, 0.2) ; */
  /* border-radius: 5px; */
}
.menu-list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 4px 4px rgba(194, 194, 194, 0.2), 4px 0 4px rgba(194, 194, 194, 0.2) ; */
}
.menu-sub-item {
  font-size: 150%;
  width: 60%;
  padding: 1.5vh 0;
  /* border-bottom: solid 1px black; */
  color:rgb(255, 255, 255);
  border-bottom: solid 1px #ffffff;
  /* border-style: dotted; */
  /* border-radius: 5px; */
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 4px 4px rgba(32, 31, 31, 0.2), 4px 0 4px rgba(47, 46, 46, 0.2) ; */
}